.nav{
  border: 1px solid red;  
 
  display: flex;
  width: 600px;
  margin-left: 69%;
}



 .nav_option{
    border: 2px solid rgb(187, 255, 0);
    
}

.navSecond{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
}

.childOfSecond{
    display: flex;
   padding: 10px;
    border: 2px solid rgb(241, 16, 192);
    width: 75%;
}

/* .selectBox{
    padding: 7px;
    border: 2px solid rgb(82, 242, 117); 
} */
/* .searchBox{
 
    border: 2px solid rgb(82, 242, 117);
} */

/* .navThird{
  display: flex;
  border: 2px solid rgb(10, 166, 250);
  width: 70%;
  justify-content: space-around;
  justify-items: start;
} */